# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=github_auth_id_gk
AUTH_GITHUB_SECRET=github_auth_secret_gk
